.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  width: 960px;
  margin:auto;
}

.clearfix {
  clear: both;
}

@mixin gradient($from:rgba(2,187,226,1), $to:rgba(1,166,198,1)) {
  background: $from; /* Old browsers */
  background: -moz-linear-gradient(top, $from 0%, $to 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0 $from), color-stop(99%,$to)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $from 0%,$to 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $from 0%,$to 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $from 0%,$to 99%); /* IE10+ */
  background: linear-gradient(top bottom, $from 0%,$to 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02bbe2', endColorstr='#01a6c6',GradientType=0 ); /* IE6-9 */
}


.btn {
  @include gradient($from:rgba(2,187,226,1), $to:rgba(1,166,198,1));
  /* border: 1px solid rgba(2,187,226,1); */
  border: 1px solid rgba(40,150,170,1);
  border-radius: 3px;
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,.1);
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px #333;
  margin-left: 5px;
  margin-right: 5px;

  &:hover {
    @include gradient(rgba(2,208,249,1),rgba(2,193,226,1));
  }

  &:active {
    @include gradient(rgba(2,187,226,1),rgba(1,166,198,1));
    box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0);
  }
}

.btn-transparent {
  @include gradient($from:rgba(255,255,255,0), $to:rgba(255,255,255,0));
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,.05);
  border: 1px solid #e9e9e9;
  color: rgba(0,0,0,.3);
  text-shadow: 0px 1px white;

  &:hover {
    border: 1px solid #02BBE2;
    color: rgba(255,255,255,.9);
    text-shadow: 0px -1px rgba(0,0,0,.2);
  }
}

body {
  background-image: url('http://s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png');
}

.navbar {
  @include gradient($from:rgba(242,242,242,1), $to:rgba(255,255,255,1));
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  .nav li {
    list-style-type: none;
    float: left;
  }
}

.brand {
  color: #0299CC;
  font-size: 30px;
  font-weight: bold;
  float: left;
  line-height: 35px;
  margin-top: 15px;
  text-shadow: 0px -1px rgba(0,0,0,.3);
}

.home-welcome {
  width: 660px;
  height: 400px;
  float: left;
}

.signup-box{
  float: right;
  width:260px;
  background-color: white;
  padding:20px;
  // border-left : 1px solid rgba(0,0,0,.05);
  /*float:right;*/
}

.facebook-btn{
  width:248px;
  height:23px;
  background: rgb(66,100,179); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(66,100,179,1) 0%, rgba(56,88,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,100,179,1)), color-stop(100%,rgba(56,88,153,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(66,100,179,1) 0%,rgba(56,88,153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(66,100,179,1) 0%,rgba(56,88,153,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(66,100,179,1) 0%,rgba(56,88,153,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(66,100,179,1) 0%,rgba(56,88,153,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4264b3', endColorstr='#385899',GradientType=0 ); /* IE6-9 */
  border:1px solid #4264B3;

}

.facebook-btn:hover{
  background: rgb(84,135,229); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(84,135,229,1) 1%, rgba(77,119,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(84,135,229,1)), color-stop(100%,rgba(77,119,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(84,135,229,1) 1%,rgba(77,119,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(84,135,229,1) 1%,rgba(77,119,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(84,135,229,1) 1%,rgba(77,119,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(84,135,229,1) 1%,rgba(77,119,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5487e5', endColorstr='#4d77cc',GradientType=0 ); /* IE6-9 */
  border:1px solid #5485E5;
  color:rgba(255,255,255,1);
}

.facebook-btn:active{
  background: rgb(75,122,204); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(75,122,204,1) 1%, rgba(67,104,178,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(75,122,204,1)), color-stop(100%,rgba(67,104,178,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(75,122,204,1) 1%,rgba(67,104,178,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(75,122,204,1) 1%,rgba(67,104,178,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(75,122,204,1) 1%,rgba(67,104,178,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(75,122,204,1) 1%,rgba(67,104,178,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b7acc', endColorstr='#4368b2',GradientType=0 ); /* IE6-9 */
  color:rgba(255,255,255,.7);
  text-shadow: 0px -1px rgba(0,0,0,.3);
}

.signup-box-seperator{
  width:268px;
  margin-top:20px;
  margin-bottom:20px;
  font-family: helvetica,arial,sans-serif;
  font-size:12px;
  color:rgba(0,0,0,.2);
}

.signup-box-form{}
.signup-box-form-input{}

.input{
  background: rgb(250,250,250); /* Old browsers */
  box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,.02);
  width:258px;
  border:1px solid #E0E0E0;
  margin-bottom: 10px;
  height:35px;
}


.text-input{
  font-family: helvetica,arial,sans-serif;
  font-size:20px;
  color:rgba(0,0,0,.4);
  cursor:text;
  padding-left:10px;
}

.placeholder{
  position:absolute;
  margin-top:-43px;
  font-family: helvetica,arial,sans-serif;
  font-size:20px;
  color:rgba(0,0,0,.2);
  cursor:text;
  padding-left:10px;
}

input[type="text"]:focus > .placeholder{
  color:rgba(0,0,0,0);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  border-color: #02BBE2;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}

.input:focus{
  background: rgb(255,255,255); /* Old browsers */
}

.signup{
  width:270px;
  height:43px;
}