@import "base.css.scss";

body {
  background-image: url('http://s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png');
}

.navbar {
  @include gradient($from:rgba(242,242,242,1), $to:rgba(255,255,255,1));
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  .nav li {
    list-style-type: none;
    float: left;
  }
}
